.load-more{
  margin-top: 30px;
  align-self: center;
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    width: 60%;
  }
}